/* fontes gerais */

* {
    font-family: Roboto;
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: white;
    border-bottom: #CCC;
}

.row {
    margin: 0px;
}

.container-fluid {
    padding: 0px;
}

.btn-primary {
    background-color: #F2A340;
    border: 2px solid #C28008;
}

.btn-primary:hover {
    background-color: #C28008;
    border-color: #C28008;
}

.msg{
    background-color: #D4EDDA;
    color: #155724;
    border:1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.already-joined-msg{
    margin: 15px 0;
    color: #004085;
    background-color: #CCE5FF;
    border: 1px solid #88DAFF;
    padding: 10px;
    width: 275px;
}

/* navbar */

#navbar img {
    width: 40px;
}

#navbar {
    justify-content: space-between;
    background-color: white;
    padding: 5px 0px;
}

#navbar a {
    font-size: 15px;
    color: #757575;
}

#navbar a:hover {
    color: #F2A340;
}

/* search container */

#search-container {
    background-image: url("../img/img_1.jpg");
    background-size: cover;
    /*Aproveitar o máximo da área possível */
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #F2A340;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

/* eventos list */

#eventos-container {
    padding: 50px;
}

#eventos-container h2 {
    margin-bottom: 10px;
}

#eventos-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
}

#eventos-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0px;
    margin: 5px;
}

#eventos-container img {
    max-height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date{
    font-size: 12px;
    color:#CCC
}

.card .card-title{
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card .card-participantes{
    font-size: 14px;
    color: #757575;
}

/* criar evento */

#evento-criar-container{
    padding: 30px;
}

#evento-criar-container label{
    font-weight: bold;
}

#evento-criar-container input,
#evento-criar-container select,
#evento-criar-container textarea{
    font-size: 12px;
    margin: 5px 0;
}

/* evento de confirmação */
#imagem-container,
#info-container{
    margin-top:30px;
}

#imagem-container img{
 border-radius: 10px;
}

#info-container h1{
    font-size: 36px;
    font-weight: 900;
}

#info-container p{
    margin:0;
    font-size: 14px;
    display: flex;
}

#info-container h3,
#descricao-container h3{
    font-size: 20px;
    font-weight: bold;
}

#descricao-container{
    margin-top:30px;
}

#info-container ion-icon{
    font-size: 20px;
    color:#F2A340;
    margin-right: 5px;
}

#info-container #evento-submit{
    margin: 20px 0;
}

#items-lista{
    list-style: none;
    padding-left: 0;

}

#items-lista li{
    display:flex;
}

/* dashboard-container */

.dashboard-title-container{
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-eventos-container th{
    width: 25%;
}

.dashboard-eventos-container form{
    display: inline-block;
}



/* footer */

footer{
    text-align: center;
    background-color: #353E48;
    color: white;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 0;
}